.soltar {
  width: 200px;
  height: 200px;
  border: 3px solid black;
}
#habitats{
  float: left;
  width: 500px;
  height: 750px;
  margin: 10px;
  border: 1px solid #999999;
}
#animales{
  float: left;
  width: 500px;
  height: 500px;
  margin: 10px;
  border: 1px solid #999999;
}
#animales > img{
  float: right;
  padding: 5px;
}

.arrastrable{

}

.soltable{
  
}


